{% extends 'base.html.twig' %}

{% block title %} | About{% endblock %}

{% block body %}
{% include 'modules/social-buttons.html.twig' %}
    
    <div class="content">
        <div class="news-grid">
                <div class="news-wrapper">

                    <div class="news-image">
                        <img src="/img/portrait_daria.jpg">
                    </div>
                    <div class="news-body about">
                        <h2>Daria Rhyner</h2>
                        <p> 
is a contemporary artist, whose works represents the human condition in relationship to nature. Natural phenomena to be seen from observational perspective plays a mayor part in the arstist expression.
 </p><p>
Rhyner grew up in the middle mountains and nature, where reciprocation and the circle of life featured great inspiration. Several painted objects or elements perform in significant light allocation, that provoke a higher level of contrast. Her work displays a set of dimensional layers of depth, which transfer simple images into dekontructive motion.
  </p><p>
 
 
 
<h2>Curriculum Vitae</h2>
 <ul>
 <li>
1986, born in Z端rich, raised in Glarus, Switzerland</li>
 <li>
Lives and works in Berlin / Hamburg, Germany</li>
 <li>
 
2014  Master of Architecture, ETH Z端rich</li>
 <li>
2012 Bachelor of Architecture, ETH Z端rich</li>
 
 </ul>
 
 
<h2>Exhibitions</h2>
 <ul>



  <li>
2018 Galerie Island, Space in Between, Hamburg, Soloexhibition</li>

  <li>
2018 Altonale, Grenzen, Groupexhibition Hamburg</li>
  <li>
2018 junge Kunst in der Aula, Sulzbach- Saar</li>
  <li>
2017 Galerie Morgenland,  Ruhe, Groupexhibition, Hamburg</li>
  <li>
2017 CON-temporary, Venedig, Groupexhibition</li>
<li>
2013 Db64, Offprint, Z端rich, Soloexibition</li>
 <li>
2006 SGU, Fractals, Glarus
  </li>
  </ul>
  <div class="bottom-spacer" />
                    </div>
                </div>
        </div>
    </div>

{% endblock %}