{% extends 'base.html.twig' %}

{% block title %} | About{% endblock %}

{% block body %}
{% include 'modules/social-buttons.html.twig' %}
    
    <div class="content">
        <div class="news-grid">
                <div class="news-wrapper">


                    <div class="news-body about">
                        <h2>Impressum</h2>
                        <p>Daria Rhyner<br>
                        <a href="mailto:art@dariarhyner.com">art@dariarhyner.com</a><br>
                        <h2>Webdesign + Fotografie:</h2>
<p> Moritz Kitzmann<br>
<a href="http://www.kitzmann.io">www.kitzmann.io</a>
</p> 

<h2>Urheberrecht</h2>
<p> Die auf diesen Seiten verwendeten Bilder, Grafiken und Texte sind urheberrechtlich geschützt und nur mit ausdrücklicher schriftlicher Genehmigung zur weiteren Verwendung heranzuziehen. Für individuelle Bildnachweise bitte Daria Rhyner kontaktieren.
</p> 
<h2>Haftungshinweis</h2>
<p> Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
</p> 

<h2>Datenschutz | Privacy Policy</h2>
 <p><a href="/privacy/de">Meine Datenschutzerklärung können Sie hier einsehen (Deutsch)</a>.<br> <a href="/privacy/en">  You can have a look at my Privacy Policy under this link (Englisch)</a>



  <div class="bottom-spacer" />
                    </div>
                </div>
        </div>
    </div>

{% endblock %}