{% extends 'base.html.twig' %}

{% block title %} | News{% endblock %}

{% block body %}
{% include 'modules/social-buttons.html.twig' %}

    <div class="content">
        <div class="news-grid">
            {% for newsItem in news %}
                <div class="news-wrapper">

                    <div class="news-image">
                        <img src="/art/{{ newsItem.image }}">
                    </div>
                    <div class="news-body">
                        <h2>{{ newsItem.title }}</h2>
                        <p>{{ newsItem.content|nl2br}}</p>
                    </div>
                </div>
            {% endfor %}

        </div>
                              <div class="bottom-spacer" />
    </div>

{% endblock %}