  {% extends 'base.html.twig' %}

 {% block body %}
        <div class="image-single-caption">
            Bunter Herbst<br>
            Unknown Horizons / 2018<br>
            Oil on Canvas, 120 x 80cm
        </div>

    <div class="content">
        <div class="image-single">
  
            <div class="image-single-wrapper">
                <img src="img/art/DSC_8615a.jpg">
            </div>
   </div>
   </div>
     
 {% endblock %}