* {
    font-family: 'Montserrat', sans-serif;
    //border: 1px solid red;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: row nowrap;
}

.sidebar {
   height: 100%;
    min-width: 14rem;
   position: fixed;
   background-color: #fff;
}

.content {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    width: 100vw;
    max-width: 1200px;
    margin: 4vh 2rem 4vh 16rem;
}

.logo {
    width: 3rem;
    margin: 3vh 1.2rem;
}

nav ul {
    list-style-type: none; 
    padding-left: 3rem;
}

nav li{
    margin: 25px 0;
    font-weight: 300;
    font-size: 0.9em;
}

a {
    text-decoration: none;
    color: #000;
    outline: none;
}

a:hover {
    font-weight: 500;
}
a.active {
    font-weight: 500;
}
.image-grid, .news-grid {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 10rem;
    max-width: 900px;
}

.image-wrapper {
    flex: 40%;
    padding: 0 0 3rem 1rem;
    text-align: right;
    min-width: 0;
}

.image-wrapper img{
    zoom: 2;
}

.image-wrapper:nth-child(odd) {
    text-align: left;
    padding: 0 1rem 3rem 0 ;
}

.image-wrapper:last-child {
    padding-bottom: 4rem !important;
}

.large {
    flex: 60%;
}

.small {
    flex: 20%;
}

.image-caption {
    margin-top: 10px;
    font-size: 0.8em;
    font-weight: 300;
    color: #ccc;
}

.image-links {
    margin-top: 20px;
}

.image-single-wrapper {
    zoom: 2;
    text-align: center;
}
.image-single-caption {
    position: fixed;
    bottom: 4vh;
    margin-left: 3rem;
    font-size: 0.8em;
    font-weight: 300;
    color: #ccc;
}

.news-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    padding: 0 0 3rem 0;
    text-align: left;
}

.news-wrapper:last-child {
    margin-bottom: 5rem;
}


.news-image {
    flex: 0 0 35%;
    min-width: 0;
    zoom: 2;
}
.news-body {
    flex: auto;
    padding: 0 0 0 2rem;
}

h1,h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size:1.0rem;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size:0.8rem;
    margin-top: 0;
    margin: 0.5rem 0 2rem 0;
    color: #ccc;
}

p, ul{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size:0.9rem;
    line-height: 1.7;
    margin: 2rem 0;
}

li {
    list-style-type: none;
    margin-bottom: 0.5rem;
}

.about p, ul {
padding-left: 0;
}
.bottom-spacer {
    margin-bottom: 6rem;
}

.bold {
    font-weight: 300;
    color: #000;
}

.social-buttons {
    position: fixed;
    bottom: 5rem;
    margin-left: 40px;
        font-size: 0.8em;
        font-weight: 300;
        line-height: 2;
        
}

.social-buttons a {
    color: #ccc;
    display: block;
}

.impressum {
margin-top: 1rem;
}

img {
    max-width: 100%;
    max-height: 100%;
}

@media screen and (orientation: portrait) {
    .sidebar {
         height: 8rem;
         width: 100%;
    }
    .content {
        margin: 8rem 4vw 16vh 4vw;
    }
    .logo {
        width: 3rem;
        margin: 0.7rem 4vw;
    }
    nav ul {
        position: absolute;
        right: 4vw;
        top: 2rem;
    }
    nav li{
        display: inline;
        margin: 20px 2vw;
    }
    .image-single {
        padding: 0px;
        margin: 0px;
    }
    .image-grid, .news-grid {
        padding-left: 0;
        margin: 0 0;
    }

    .image-single-wrapper {
        padding: 0;
        margin: 0;
    }
.image-single-caption {
    margin-left: 4vw;
    padding: 0 10px;
}
    .social-buttons {
        bottom: 0;
        margin: 0;
        padding: 1rem 4vw;
        width: 100%;
        background-color: #fff;
    }
    .social-buttons a {
        display: inline;
        margin: 0 10px;
        font-size: 1.1vw;
    }
    
}

@media screen and (max-width: 600px) and (orientation: portrait){
    .sidebar {
        height: 12vh;
   }
   .logo {
        width: 2.5rem;
        margin: 1vh 3vw;
}
    nav ul {
        top: 2vh;
    }
    nav li{
        font-size: 0.8em;
    }
    .content {
        margin: 12vh 4vw 16vh 4vw;
    }
    .image-wrapper {
    flex: 100%;
    margin-bottom: 2vh;
    padding: 0 0 0.6rem 0;
    }
    .image-wrapper:nth-child(odd) {
        text-align: right;
        padding: 0 0 0.6rem 0;
    }
    .news-image, .news-body {
       padding: 1rem 0;
    }
    .news-wrapper {
        display: block;
        padding: 0;
    }
    .image-grid {
        max-width: 40vh;
    }
    .social-buttons a {
        font-size: 0.6em;
        margin: 0 5px;
    }
    .impressum {
        margin-top: 0;
        }
}

@media screen and (max-height: 750px) and (max-width: 600px) and (orientation: portrait) {
.image-single-text {
    display: none;
}
.content {
    margin: 6rem 4vw 4rem 4vw;
}
}

@media screen and (max-height: 400px) and (orientation:landscape){
    .sidebar {
        min-width: 12rem;
   }
   nav ul {
       padding-left: 4vw;
   }
.image-single-text {
    display: none;
}
.content {
    margin: 4vh 2rem 4vh 14rem;
}
.social-buttons {
    bottom: 0;
    margin: 0;
    padding: 3vh 4vw;
    width: 100%;
    background-color: #fff;
}
.social-buttons a {
    display: inline;
    margin: 0 10px 0 0;
    font-size: 0.8em;
}
.image-single-caption {
    margin-left: 4vw;
}
}
/*
* === OVERLAY ===
*/

.overlay {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    transition: opacity 1000ms;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
  }
  
  .overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 2;
  }
  
  .popup {
    margin: 0 auto;
    padding: 1.5rem;
    background: #fff;
    position: relative;
    transition: opacity 1000ms;
    font-family: "Montserrat", sans-serif;
    -webkit-box-shadow: 0px 0px 60px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 60px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 60px 2px rgba(0, 0, 0, 0.2);
    z-index: 21;
  }
  
  .popup h2 {
    margin: 0 0 10px 0;
    color: #333;
    font-family: "Montserrat", sans-serif;
    font-size: 1.0em;
  }
  
  .popup h3 {
    margin-top: 0;
    color: #333;
    font-weight: 400;
    font-size: 1em;
  }
  
  .overlay .close-overlay {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 100%;
    height: 100%;
    cursor: alias;
  }
  
  .popup .close {
    position: absolute;
    top: 10px;
    right: 15px;
    transition: all 200ms;
    font-size: 1.5em;
    text-decoration: none;
    color: #333;
  }
  
  .popup .close:hover {
    color: #999;
  }
  
  .popup .popup-content {
    max-height: 30%;
    overflow: auto;
    font-weight: 200;
    font-size: 1em;
  }
  input, select, textarea{
    display: block;
    width: 20rem;
    max-width: 80vw;
    font-size: 1.0rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    margin: 0px 0 20px 0;
    padding: 5px 10px;
    background-color: #fff;
}


  input[type="submit" i], button {
      background-color: #ccc;
      padding: 10px 20px;
      border: 0;
      border-radius: 20px;
      margin: 10px 0 0 0;
      font-size: 0.9rem;
      cursor: pointer;
      color: #fff;
  }


label {
    display: block;
    margin: 15px 0 15px 0;
    font-weight: 200;
}

table {
    align-self: flex-start;
    font-size: 0.9rem;
}
td {
    padding: 1rem;
}

tr:hover {
    background-color: #eee;
}

.admin-thumb-image-wrapper {
    height: 60px;
    text-align: center;
}

.admin-add-button a{
 color: #000 !important;
 font-weight: 300;
 font-size: 1.2em;
}

.admin {
    flex-flow: column wrap;
}
.btn {
    color: white;
}
.btn-cancel {
    color: white;
}

.delete {
    background-color: #f45642;
}

form {
    display:inline;
}

img {
    -webkit-animation: fadein 1200ms; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1200ms; /* Firefox < 16 */
        -ms-animation: fadein 1200ms; /* Internet Explorer */
         -o-animation: fadein 1200ms; /* Opera < 12.1 */
            animation: fadein 1200ms;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}