{% extends 'base.html.twig' %}

{% block sidebar %}
            <div class="sidebar">
                <div class="logo">
                    <a href="/" class="active">
                        <img class="logo" src="{{ asset("img/logo_dr.svg")}}">
                    </a>
                </div>
                <nav>
                    <ul>
                        <li>
                            <a href="/admin" class="{% if page == 'artwork' %}active{% endif %}">ARTWORK</a>
                        </li>
                        <li>
                            <a href="/admin/about"  class="{% if page == 'about' %}active{% endif %}"></a>
                        </li>
                        <li>
                            <a href="/admin/news"  class="{% if page == 'news' %}active{% endif %}">NEWS</a>
                        </li>
                    </ul>
                </nav>
            </div>
{% endblock %}