index:
    path: /
    controller: App\Controller\HomeController::indexAction

ArtworkRoute:
    path: /artwork/{artwork_slug}
    controller: App\Controller\ArtworkController::ViewArtwork

AboutRoute:
    path: /about
    controller: App\Controller\HomeController::ViewAbout

NewsRoute:
    path: /news
    controller: App\Controller\NewsController::ViewNews

SingleNewsRoute:
    path: /news/{news_slug}
    controller: App\Controller\NewsController::ViewSingleNews

AdminRoute:
    path: /admin
    controller: App\Controller\AdminController::AdminIndex

ArtworkPositionRoute:
    path: /admin/artwork/{artwork_slug}/{position}
    controller: App\Controller\AdminController::ArtworkPosition