index:
    path: /
    controller: App\Controller\HomeController::indexAction

ArtworkRoute:
    path: /artwork/{artwork_slug}
    controller: App\Controller\ArtworkController::ViewArtwork

AboutRoute:
    path: /about
    controller: App\Controller\HomeController::ViewAbout


ImpressumRoute:
    path: /Impressum
    controller: App\Controller\ImpressumController::ViewImpressum

SingleNewsRoute:
    path: /news/{news_slug}
    controller: App\Controller\NewsController::ViewSingleNews

AdminRoute:
    path: /admin
    controller: App\Controller\AdminController::AdminIndex

ArtworkPositionRoute:
    path: /admin/artwork/{artwork_slug}/position/{position}
    controller: App\Controller\AdminController::ArtworkPosition

ArtworkDeleteRoute:
    path: /admin/artwork/{artwork_slug}/delete
    controller: App\Controller\AdminController::ArtworkDelete

ArtworkEditRoute:
    path: /admin/artwork/{artwork_slug}/edit
    controller: App\Controller\AdminController::EditArtwork