
    <div class="social-buttons">
        <a href="https://www.facebook.com/dariarhyner/" target="_blank">FACEBOOK</a>
        <a href="https://www.instagram.com/dariarhyner/" target="_blank">INSTAGRAM</a>
        <a href="#newsletter">NEWSLETTER</a>
        <a href="/impressum" class="impressum {% if page == 'impressum' %}active{% endif %}">IMPRESSUM</a>
    </div>
